.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 0 26px white;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type='text']{
    width: 300px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    font-family: 'Merienda', cursive;
    font-size: 14px;
    font-weight: 800;
    padding: 10px 20px;
    background-color: #123953;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.5s all ease;
    box-shadow: 2px 2px 5px lightslategray;
}

button:hover{
    background-color: #144b81;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
}
